[/]
tools.staticdir.root = os.getcwd()
tools.gzip.on = True

[/javascripts]
tools.staticdir.on = True
tools.staticdir.dir = "templates/html/javascripts/"

[/stylesheets]
tools.staticdir.on = True
tools.staticdir.dir = "templates/html/stylesheets/"

[/images]
tools.staticdir.on = True
tools.staticdir.dir = "templates/html/images/"