{% macro datum(datum_tuple) %}
<li class="datum">
  {{ pagelink(datum_tuple[0],class='predicate') }}:
  {{ pagelink(datum_tuple[1],class='object') }}
</li>
{% endmacro %}
{{ datum(datum_tuple) if datum_tuple }}