<textarea name="description" rows="8" cols="40">{{ page.description if page.description }}</textarea><br/>
<input type="submit" value="Save" id="save_description_button" accesskey="s"/>
<a href="#" id="cancel_description_link" class="control" accesskey="c">cancel</a>