<!DOCTYPE html>
<html>
  <head>
    <title>braindump{% block title %}{% endblock %}<title>
    {{ load_css('braindump') }}
    {{ load_js('jquery') }}
    {{ load_js('placeholders') }}
    {% block head %}{% endblock %}
  </head>
  <body>
    
    <div id="heading">
      <h1>{{ link('braindump','/') }}{% block heading %}{% endblock %}</h1>
    </div>
    
    <!-- round this and just have it float there? -->
    <div id="sidebar">
      <form method="GET" action="{{ url('/goto') }}">
        <input type="text" value="Go To" id="goto_box" name="page" class="placeholder"/>
      </form>
      <div id="sidebar_actions">
        {% block sidebar_actions %}{% endblock %}
      </div>
    </div>
    
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
      this is a <a href="http://code.google.com/p/brain-dump/">braindump</a>.
    </div>
    
  </body>
</html>