{% if page.metadata %}
  <ul id="metadata">
    {% for datum in page.metadata.iteritems() %}{# lol 'datum' #}
      <li class="datum">{{ pagelink(datum[0]) }}: {{ pagelink(datum[1]) }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p class="notice">No metadata.</p>
{% endif %}