<script type="text/javascript">

  // TODO: error messages! things will go wrong!

  $(document).ready(function(){
    
    // edit metadata
    
    // yeah... redesign this interface.
    $('#edit_metadata_link').click(function(){
      if($('#metadata').hasClass('currently_editing')) {
        // save metadata
        this.innerHTML = 'Saving...' // spinner would be nice
        $('#metadata').load('{{ url("/save_metadata/%s" % escape(page.name)) }}',
                            $("textarea[name='metadata']").serializeArray(),
                            function(){
                              $('#edit_metadata_link').html('Edit')
                              $('#metadata').removeClass()
                            })
      } else {
        // swap metadata area for textarea
        this.innerHTML = 'Loading...'
        $('#metadata').addClass('currently_editing')
        $('#metadata').load('{{ url("/show/%s/metadata" % escape(page.name)) }}',
          function(){
            $('#edit_metadata_link').html('Save')
            $("textarea[name='metadata']").focus()
          })
      }
    })
    
    // edit description
    
    $('#description').editable('{{ url("/save_description/%s" % page.name) }}',{
      loadurl: '{{ url("/show/%s/description" % page.name) }}',
      event: 'dblclick',
      type: 'textarea',
      rows: 20,
      cols: 60,
      submit: 'Save',
      cancel: 'cancel',
      tooltip: 'double-click to edit',
      indicator: '<img src="{{ url("/images/spinner.gif") }}"/>',
      style: 'inherit'
    })
    
    // delete link

    $('#delete_link').click(function(){
      $(this).hide()
      $('#delete_prompt').show()
    })
    $('#delete_no').click(function(){
      $('#delete_prompt').hide()
      $('#delete_link').show()
    })
    $('#delete_yes').click(function(){
      confirm('Are you sure? The description and metadata will be lost.')
    })
    
    // rename link
  
    $('#rename_link').click(function(){
      $(this).hide()
      $('#rename_form').show()
      $("input[name='newname']").focus()
    })
    $('#rename_cancel').click(function(){
      $("input[name='newname']").blur()
      $('#rename_form').hide()
      $('#rename_link').show()
    })

})
</script>
