{% extends 'layout.jinja' %}
{% block title %} &raquo; {{ page.name }}{% endblock %}
{% block heading %} &raquo; {{ page.name }}{% endblock %}
{% block head %}{{ load_dynamic_js('show',pagename=page.name) }}{% endblock %}
{% block content %}

<div id="metadata">
  {% if page.metadata %}
    <ul>
      {% for datum in page.metadata.iteritems() %}
        <li class="datum">
          {{ pagelink(datum[0],class='predicate') }}:
          {{ pagelink(datum[1],class='object') }}
        </li>
      {% endfor %}
      <li id="edit_metadata" style="display: none">
        <form id="metadata_form">
          <input type="text" name="predicate" autocomplete="off"/>:
          <input type="text" name="object" autocomplete="off"/>
          {{ image('save.png',alt='Save',title='Save',id='save_metadata_image') }}
          {{ link('cancel',class='control',id='cancel_metadata_link') }}
        </form>
      </li>
      <li>{{ link('Add '+image('add.png'),id='add_metadata_link') }}</li>
    </ul>
    <span style="display: none" id="metadata_controls">
      {{ image("edit.png",alt='Edit',title='Edit',id='edit_metadata_image',class='control') }}
      {{ image("delete.png",alt='Delete',title='Delete',id='unset_metadata_image',class='control')}}
    </span>
  {% else %}
    <p class="notice">No metadata. {{ link('Add '+image('add.png'),id='add_first_metadata_link') }}</p>
  {% endif %}
</div>

<div id="backlinks">
  {% if page.backlinks %}
    <ul id="backlinks">
      {% for backlink in page.backlinks.iteritems() %}
        <li class="backlink">{{ pagelink(backlink[0]) }} of {{ pagelink(backlink[1]) }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="notice">No backlinks.</p>
  {% endif %}
</div>

<div id="description" title="double-click to edit">
  {% include 'description-html.jinja' %}
</div>

<!-- body...? -->

{% endblock %}
{% block sidebar_actions %}
<span class="sidebar_heading">This Page:</span>
<ul>
  <li>
    <a href="#" id="rename_link">rename</a>
    <form id="rename_form" action="{{ url('/rename/%s' % page['name']) }}" style="display: none">
      <input name="newname" type="text" size="15"/>
      <input type="submit" value="Go"/>
      <a href="#" id="rename_cancel">cancel</a>
    </form>
  </li>
  <li>
    <a href="#" id="delete_link">delete</a>
    <span id="delete_prompt" style="display: none">
      really? <a href="{{ url('/delete/%s' % page['name']) }}" id="delete_yes">yes</a>/<a href="#" id="delete_no">no</a>
    </span>
  </li>
</ul>
{% endblock %}