{% extends 'layout.jinja' %}
{% block title %} &raquo; {{ page.name }}{% endblock %}
{% block heading %} &raquo; {{ page.name }}{% endblock %}
{% block head %}
  {{ load_dynamic_js('show',pagename=page.name) }}
{% endblock %}
{% block content %}
  
  <a href="#" id="edit_metadata_link" class="control" accesskey="m">Edit</a>
  <div id="metadata">
    {% include 'metadata-html.jinja' %}
  </div>

  <div id="backlinks">
    {% if page.backlinks %}
      <ul id="backlinks">
        {% for backlink in page.backlinks.iteritems() %}
          <li class="backlink">{{ pagelink(backlink[0]) }} of {{ pagelink(backlink[1]) }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="notice">No backlinks.</p>
    {% endif %}
  </div>

  <div id="description" title="double-click to edit">
    {% include 'description-html.jinja' %}
  </div>

  <!-- body...? -->
  
{% endblock %}
{% block sidebar_actions %}
<span class="sidebar_heading">This Page:</span>
<ul>
  <li>
    <a href="#" id="rename_link">rename</a>
    <form id="rename_form" action="{{ url('/rename/%s' % page['name']) }}" style="display: none">
      <input name="newname" type="text" size="15"/>
      <input type="submit" value="Go"/>
      <a href="#" id="rename_cancel">cancel</a>
    </form>
  </li>
  <li>
    <a href="#" id="delete_link">delete</a>
    <span id="delete_prompt" style="display: none">
      really? <a href="{{ url('/delete/%s' % page['name']) }}" id="delete_yes">yes</a>/<a href="#" id="delete_no">no</a>
    </span>
  </li>
</ul>
{% endblock %}