{% extends 'layout.jinja' %}
{% block title %} &raquo; visualize{# TODO: put name here too... #}{% endblock %}
{% block heading %} &raquo; visualize &raquo; {% block name %}{% endblock %}{% endblock %}
{% block head %}
  {% block scripts %}{% endblock %}
  {{ load_js('visualize') }}
{% endblock %}
{% block content %}
  <div id="controls">
    <form id="fields_form">
      criteria: <input type="text" name="criteria" value="{{ criteria if criteria }}"/>
      <br/>
      <br/>
      {% block fields %}{% endblock %}
      <br/>
      <input type="submit" value="Visualize"/>
      <span id="working" style="display: none">{{ image('spinner.gif') }} Working...</span>
      <span id="noresults" style="display: none">{{ image('deny.png') }} Sorry, no results for that criteria.</span>
    </form>
  </div>
  <div id="visualization">
    {% block visualization %}{% endblock %}
  </div>
{% endblock %}