body {
  font-family: 'lucida grande' arial sans-serif;
  padding: 5px;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: green;
}
a:active {
  color: orange;
}
a.non_existent_page {
  color: red;
}
a.non_existent_page:hover {
  color: purple;
}
.revision {
  padding: 5px;
}
.revision_name {
  font-weight: bold;
}
.revision_time {
  font-style: italic;
}
ins {
  background-color: lightgreen;
}
del {
  background-color: pink;
}