/* body, layout */
body {
  font-family: 'lucida grande' arial sans-serif;
  padding: 5px;
}
#header {
  border-bottom: thin gray solid;
}
#sidebar {
  vertical-align: top;
  border-left: thin gray solid;
  width: 150px;
}
#main {
  vertical-align: top;
  padding: 5px;
}
#footer {
  border-top: thin gray solid;
}
/* links */
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: green;
}
a:active {
  color: orange;
}
/* show page */
#page_body textarea {
  font-size: inherit;
  font-family: inherit;
}
#page_metadata textarea {
  font-size: inherit;
  font-family: inherit;
}
