// TODO: error messages! things will go wrong!

$(document).ready(function(){
  
  // edit metadata
  
  $('#add_metadata_link').click(function(){
    $('#edit_metadata').clone().show().insertBefore('#edit_metadata').attr('id','adding_metadata')
    $('#adding_metadata input[name="predicate"]').focus()
    $('#save_metadata_image').click(save_metadata)
  })
  $('li.datum').each(function(){
    $(this).append($('#metadata_controls').clone())
  })
  $('li.datum').mouseover(function(){
    $(this).children('#metadata_controls').show()
    $(this).children('#metadata_controls').children('#edit_metadata_image').click(mouse_over)
    $(this).children('#metadata_controls').children('#delete_metadata_image').click(function(){
      console.log('clicked delete!')
      // console.log($(this).parent().parent().children())
      // $.ajax({
      //         url: '{{ url("/unset_metadata/%s" % pagename) }}',
      //         data: {predicate: $(this).parent().parent().children('.predicate').html()},
      //         success: function(){
      //           $(this).parent().parent().remove()
      //         }
      //       })
    })
  })
  function mouse_over() {
    // get values, swap for edit interface, fill with values
    datum = $(this).parent().parent()
    original = datum.html()
    predicate = datum.children('.predicate').html()
    object = datum.children('.object').html()
    datum.replaceWith($('#edit_metadata').clone().show().attr('id','editing_metadata'))
    $('#editing_metadata input[name="predicate"]').val(predicate)
    $('#editing_metadata input[name="object"]').val(object)
    $('#editing_metadata input[name="predicate"]').focus()
    // save and cancel controls
    $('#save_metadata_image').click(save_metadata)
    $('#cancel_metadata_link').click(function(){
      datum.html(original) // why does this not work??!!!!!
    })
  }
  $('li.datum').mouseout(function(){
    $(this).children('#metadata_controls').hide()
  })
  function save_metadata() {
    $.ajax({
      url: '{{ url("/save_metadata/%s" % pagename) }}',
      data: $('#editing_metadata, #adding_metadata').children('#metadata_form').serialize(),
      success: function(response){
        $('#adding_metadata, #editing_metadata').replaceWith(response)
        $('li.datum').mouseover(mouse_over) // why does this break it!???!!!??!!
      }
    })
  }
  
  // edit description
  
  $('#description').dblclick(function(){
    $(this).removeAttr('title')
    $(this).load('{{ url("/edit_description/%s" % pagename) }}',function(){
      $('#save_description_button').click(function(){
        $('#description').load('{{ url("/save_description/%s" % pagename) }}',
          $('textarea[name="description"]').serializeArray(),
          function(){
            $('#description').attr('title','double-click to edit')
          })
      })
      $('#cancel_description_link').click(function(){
        $('#description').load('{{ url("/save_description/%s" % pagename) }}',
          function(){
            $(this).attr('title','double-click to edit')
          })
      })
    })
  })
  
  // delete link

  $('#delete_link').click(function(){
    $(this).hide()
    $('#delete_prompt').show()
  })
  $('#delete_no').click(function(){
    $('#delete_prompt').hide()
    $('#delete_link').show()
  })
  
  // rename link

  $('#rename_link').click(function(){
    $(this).hide()
    $('#rename_form').show()
    $("input[name='newname']").focus()
  })
  $('#rename_cancel').click(function(){
    $("input[name='newname']").blur()
    $('#rename_form').hide()
    $('#rename_link').show()
  })

})
